@font-face
{
    font-family: "PressStart2P-Regular";
    src: url(../fonts/PressStart2P-Regular.ttf);
}
html
{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62,5%;
}
body
{
    font-family: "PressStart2P-Regular";
    height:100%;
    width: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color:rgb(0, 0, 0);
    background-image: url(../img/pixel.png);
    background-position: center;
}
.container
{   
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
}
section
{
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    margin-top: 20%;
}
.div_nick
{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
}
#input_nick
{
    width: 60%;
}
.button_go
{
    width:20%;
    margin-left:5%
}
.score
{
    margin-top: 10%;
}
.button_highscores
{
    margin-top: 10%;
}