@font-face
{
    font-family: "PressStart2P-Regular";
    src: url(../fonts/PressStart2P-Regular.ttf);
}
html
{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62,5%;
}
body
{   
    font-family: "PressStart2P-Regular";
}
section
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20%;
}