@font-face
{
    font-family: "PressStart2P-Regular";
    src: url(../fonts/PressStart2P-Regular.ttf);
}
/* DEFAULT PROPERTIES ARE DISPLAYED CORRETLY FOR SCREEN SIZES WIDTH BETWEEN 320 AND 419 PIXELS */
html
{
    height:100%;
    width: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    
}
body
{   
    font-family: "PressStart2P-Regular";
    font-size: 1.2rem;
    height:100%;
    width: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color:rgb(0, 0, 0);
    touch-action: pan-y;
    background-image: url(../img/pixel.png);
    background-position: center;

}
#container
{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
}
#time_div
{   
    display: flex;
    flex-direction: row;
}
#time
{
    padding-left: 5px;
}
.stage_buttons
{
    display: flex;
    flex-direction: column;
    height: 90%;
}
#control_buttons
{   
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
}
#points_time_div
{   
    height: 50px;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#up
{ 
    margin-bottom: 5px;
}
#left
{   
    margin-right: 25px;
}
#right
{   
    margin-left: 25px;
}
#down 
{   
    margin-top: 5px;
}
#area
{   
    width: 300px;
    height: 300px;
    background-color: rgba(255, 255, 255, 0.411);
    
}
.border
{
    border: solid;
    padding: 2px;
    width: fit-content;
    height: fit-content;
}
#square
{
    width:30px;
    height:30px;
    position:absolute;
}
.arrow
{
    width:50px;
    height:50px;
}
div img
{
    width:100%;
    height:100%;
}
#nick_imput
{
    height: 30px;
    margin-right: 20px;
}
#ok_button
{   
    font-family: 'arial black';
    font-size: 1rem;
    color: white;
    background-color: black;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    width: 40px;
    height: 40px;
}
.pixelate
{
    image-rendering: -moz-crisp-edges;
    image-rendering: pixelated;
}
.flex_div
{
    display: flex;
}
.char
{
    position: absolute;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url(../img/postac2.png);
    image-rendering: -moz-crisp-edges;
    image-rendering: pixelated;
}
.loot
{
    position: absolute;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url(../img/artefakt.png);
    image-rendering: -moz-crisp-edges;
    image-rendering: pixelated;
}
/*------------------ RESPONSIVE CSS -----------------*/
@media only screen and (min-width: 420px)
{
    body
    {
        font-size: 1.4rem;
    }
    #area
    {   
        width: 400px;
        height: 400px;
    }
    #square
    {
        width:40px;
        height:40px;
    }
    #artifact
    {
        width:40px;
        height:40px;
    }
    .arrow
    {
        width:60px;
        height:60px;
    }
    #left
    {   
        margin-right: 30px;
    }
    #right
    {   
        margin-left: 30px;
    }
}
@media only screen and (min-width: 520px) 
{
    body
    {
        font-size: 1.6rem;
    }
    #area
    {   
        width: 500px;
        height: 500px;
    }
    #square
    {
        width:50px;
        height:50px;
    }
    #artifact
    {
        width:50px;
        height:50px;
    }
}
@media only screen and (min-width: 620px)
{   
    body
    {
        font-size: 1.8rem;
    }
    #area
    {   
        width: 600px;
        height: 600px;
    }
    #square
    {
        width:60px;
        height:60px;
    }
    #artifact
    {
        width:60px;
        height:60px;
    }
}
@media only screen and (min-width: 720px)
{
    body
    {
        font-size: 2rem;
    }
    .arrow
    {
        width:80px;
        height:80px;
    }
    #left
    {   
        margin-right: 35px;
    }
    #right
    {   
        margin-left: 35px;
    }
    #area
    {   
        width: 700px;
        height: 700px;
    }
    #square
    {
        width:70px;
        height:70px;
    }
    #artifact
    {
        width:70px;
        height:70px;
    }
}
@media only screen and (min-width: 1024px) and (min-height: 700px)
{   
    .arrow
    {
        width:60px;
        height:60px;
    }
    #left
    {   
        margin-right: 30px;
    }
    #right
    {   
        margin-left: 30px;
    }
    .stage_buttons
    {
        display: flex;
        flex-direction: row;
        align-self: center;
        align-items: center;
        width: 90%;
    }
    #points_time_div
    {
        width: 100%;
        height: 80px;
        padding: 0 40px 0 40px;
    }
    #stage
    {
        width: 70%;
        display: flex;
        justify-content: center;
    }
    #area
    {   
        width: 600px;
        height: 600px;
    }
    #control_buttons
    {
        width: 250px;
    }
    #time
{
    padding-left: 30px;
}
}
@media only screen and (min-width: 1500px) and (min-height: 800px)
{   
    body
    {
        font-size: 2.2rem;
    }
    #area
    {   
        width: 700px;
        height: 700px;
    }
} 