html
{
    height:100%;
    padding: 0;
    margin: 0;
}
body
{   
    color:white;
    background: url("../img/tlo.png") no-repeat center center fixed;
    background-size:cover;
}
#nick_imput
{
    height: 30px;
    margin-right: 20px;
}
#ok_button
{   
    font-family: 'arial black';
    font-size: 1em;
    color: white;
    background-color: black;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    width: 40px;
    height: 40px;
}
#control_buttons
{   
    text-align:center;
    margin-left:auto;  
    margin-right:auto;
    margin-top:30px;
}
#area
{   
    background: url("../img/area.png") no-repeat center center fixed;
    background-size:cover; 
    margin-left:auto;
    margin-right:auto;
    height:300px;
    width:300px;
    border:thin;
    border-style:solid;
    border-color:#a5a8c3;
    background-color:#f7f7f7;   
}
#up
{   
    margin-bottom:5px;
}
#up:focus
{
    outline:none;
}
#left
{   
    margin-right:25px;
}
#left:focus
{
    outline:none;
}
#right
{   
    margin-left: 25px;
}
#right:focus
{
    outline:none;
}
#down 
{   
    margin-top: 5px;
}
#down:focus
{
    outline:none;
}
#square
{
    width:30px;
    height:30px;
    position:absolute;
}
#artifact
{
    width:30px;
    height:30px;
    position:absolute;
}
#points
{   
   float:left;         
}
#time_div
{
    float:right;  
    font-weight:700;
}
#extra_time
{   
    float:left;
    margin-right:10px;
}
#time
{   
    float:right;
}
#points_time_div
{
  font-family: Arial Black;
  font-weight:700;  
  width:100%;
  height:30px;
}
.arrow
{
    width:30px;
    height:30px;
}
div img
{
    width:100%;
    height:100%;
}

